<div class="well well-sm">
  Summary of account cycle: <%= @account_cycle.from_date %> to <%= @account_cycle.to_date %>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">Expense summary breakdown</div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Expense Item</th>
        <th class="text-right">Amount(D)</th>
        <th class="text-right">Amount(C)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%=@total_summary.expense_summary_item.item_description%></td>
        <td class="text-right"><%=@total_summary.amount%></td>
         <td class="text-right">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="3">
      </tr>
      <% @spendings.each do |spending| %>
        <tr>
          <td><%=spending.expense_summary_item.item_description%> <%=spending.payer.full_name%></td>
          <td class="text-right"><%=spending.amount%></td>
          <td class="text-right"></td>
        </tr>
      <% end %>
      <tr>
        <td colspan="3">
      </tr>
      <% @expenses.each do |expense| %>
        <tr>
          <td><%=expense.expense_summary_item.item_description%> <%=expense.payer.full_name%></td>
          <td class="text-right">&nbsp;</td>
          <td class="text-right"><%=expense.amount%></td>
        </tr>
      <% end %>
      <tr>
        <td colspan="3">
      </tr>
      <% @receivers.each do |receiver| %>
        <tr>
          <td><%=receiver.expense_summary_item.item_description%> <%=receiver.receiver.full_name%> to <%=receiver.payer.full_name%></td>
          <td class="text-right"><%=receiver.amount%></td>
          <td class="text-right"></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>