<div class="panel panel-primary">
<div class="panel-heading">Add new fixed expense</div>
<div class="panel-body">
<div class="row">
<div class="col-md-6 col-md-offset-3">

<% if @fixed_expense_form.errors.any? %>
    <div class="alert alert-danger">
      <b><%= pluralize(@fixed_expense_form.errors.count, "Error") %> prohibited this expense from being saved:</b>
      <ul>
      <% @fixed_expense_form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
<% end %>

<%
if @fixed_expense_form.id 
  url = fixed_expense_path(@fixed_expense_form.id)
  method = 'put'
else
  url = fixed_expenses_path
  method = 'post'
end
%>

<%= form_for(@fixed_expense_form, url: url, method: method, :html => {class: "form-horizontal"}) do |f| %>
  <div class="form-group">
    <%= f.label :name, class: "col-sm-3 control-label" %>
    <div class="col-sm-9">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :default_amount, class: "col-sm-3 control-label" %>
    <div class="col-sm-9">
      <%= f.text_field :default_amount, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :default_user_id, 'Paid by', class: "col-sm-3 control-label" %>
    <div class="col-sm-9">
      <%= f.collection_select(:default_user_id, @users, :id, :full_name, {}, {:class => 'form-control'}) %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :is_mandatory, class: "col-sm-3 control-label" %>
    <div class="col-sm-9">
      <%= f.check_box :is_mandatory %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <% if @fixed_expense_form.id %>
      <%= f.submit 'Update fixed expense', :class => "btn btn-primary" %>
      <% else %>
      <%= f.submit 'Add fixed expense', :class => "btn btn-primary" %>
      <% end %>
      <%= link_to 'Back', fixed_expenses_path, class: "btn btn-default" %>
    </div>
  </div>
<% end %>
</div>
</div>
</div>
</div>