<div class="panel panel-primary">
  <div class="panel-heading">Fixed expenses</div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Expense name</th>
        <th>Is mandatory</th>
        <th>Default amount</th>
        <th>Default payee</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @fixed_expenses.each do |fixed_expense| %>
        <tr>
          <td><%= fixed_expense.name %></td>
          <td><%= fixed_expense.is_mandatory %></td>
          <td class="text-right"><%= fixed_expense.default_amount %></td>
          <td><%= fixed_expense.default_payee.firstname %> <%= fixed_expense.default_payee.lastname %></td>
          <td>
          <%= authorized_link_to @current_user.id, @current_user.loggedin_group.id, 'Edit', edit_fixed_expense_path(fixed_expense.id), class: "btn btn-primary" %>
          <%= authorized_link_to @current_user.id, @current_user.loggedin_group.id, 'Destroy', fixed_expense_path(fixed_expense), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= authorized_link_to @current_user.id, @current_user.loggedin_group.id, 'New fixed expense', new_fixed_expense_path, class: "btn btn-primary"  %>
