<div class="panel panel-primary">
<div class="panel-heading">Update the fixed expense</div>
<div class="panel-body">
<div class="row">
  <div class="col-md-6 col-md-offset-3">

<%
url = create_expense_fixed_expense_path
method = 'post'
%>

<%= form_for(@expense_form, url: url, method: method, :html => {class: "form-horizontal"}) do |f| %>
  <div class="form-group">
    <%= f.label :user_id, 'Paid by', class: "col-sm-3 control-label" %>
    <div class="col-sm-9">
      <%= f.collection_select(:user_id, @users, :id, :full_name, {}, {:class => 'form-control'}) %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :expense_description, class: "col-sm-3 control-label" %>
    <div class="col-sm-9">
      <%= f.text_field :expense_description, class: "form-control", "readonly" => 'true' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :amount, class: "col-sm-3 control-label" %>
    <div class="col-sm-9">
      <%= f.text_field :amount, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :expense_date, class: "col-sm-3 control-label" %>
    <div class="col-sm-9">
      <%= f.date_select :expense_date, {}, {:class => "form-control", :style => "display: inline;width: 32.5%;"} %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :user_ids, 'Users', class: "col-sm-3 control-label" %>
    <div class="col-sm-9">
      <table class="table">
      <%= f.collection_check_boxes(:user_ids, @users, :id, :full_name) do |b| %>
      <tr>
        <td>
        <%= b.label do%>
          <%=b.check_box(checked: true, onchange: "enableOrDisableDivisionFactors(" + b.value.to_s + ")") + " " + b.text%>
        <%end%>
        <br/>
        </td>
        <td>
        <%= f.text_field :division_factor, value: "1", name: "form_expense[division_factor]" + "[" + b.value.to_s + "]", id: "form_expense_division_factor_" + b.value.to_s, class: "form-control" %>
        </td>
        </tr>
      <% end %>
      </table>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <%= f.submit 'Update', :class => "btn btn-primary" %>
      <%= link_to 'Back', root_path, :class => "btn btn-default" %>
    </div>
  </div>
<% end %>
  </div>
</div>
</div>
</div>

